<header class="header absolute inset-0 z-20 mb-8 h-20 text-white">
  <div class="header__content flex justify-between items-center w-full h-full">
    <span class="ml-6 text-4xl">Station</span>
    <ul class="flex gap-x-8 mr-8 uppercase">
      <a
        href="#"
        routerLink="/"
        class="btn-text btn-text--M btn-text--white relative cursor-pointer"
      >
        <li>Accueil</li>
      </a>
      <a
        href="#"
        routerLink="stations"
        class="btn-text btn-text--M btn-text--white relative cursor-pointer"
      >
        <li>Les stations</li>
      </a>
      <li class="pl-16">Stations connectées : 12</li>
    </ul>
  </div>
</header>
