<div class="station">
  <div class="hero-station relative h-96 flex items-center justify-center">
    <div class="hero-station__background">
      <img class="absolute inset-0 object-cover w-full h-full opacity-75" [src]="heroBackground" alt="">
    </div>
    <div class="hero-station__background-overlay bg-black opacity-50 absolute inset-0 w-full h-full"></div>
    <div class="hero-station__content relative mt-12">
      <div class="grid-row">
        <div class="hero-stations__text-container px-32 text-center">
          <div class="flex flex-col items-center">
            <h1 class="text-white text-7xl font-extralight pb-4">Station n°1</h1>
            <p class="text-white">
              Station de Voiron - Installé le 17 Juin 2022
            </p>
            <a
              href="#"
              routerLink="/stations"
              class="btn btn--M btn--ghost-white cursor-pointer mt-12"
            >
              Retour aux stations
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="station-content">
    <div class="flex w-full h-full justify-center p-14 rounded-lg overflow-hidden">
      <div class="map overflow-hidden rounded-lg">
        <div class="gmap">
          <iframe
            width="600"
            height="500"
            src="https://maps.google.com/maps?q=45.36395%205.59209&output=embed"
          >
          </iframe>
        </div>
      </div>
      <div>
        <div class="flex flex-col h-full justify-center px-6 py-4">
          <h2 class="font-bold text-3xl mb-2">Weather</h2>
          <p class="text-base mt-4">
            <b>Identifiant : </b>61dbd654-9399-4e80-a270-d3b9aa04212b
          </p>
          <p class="text-base mt-4">
            <b>Ville : </b>Voiron
          </p>
          <p class="text-base mt-4">
            <b>Status : </b>En activité
          </p>
          <p class="text-base mt-4">
            <b>Latitude : </b>45.36395°
          </p>
          <p class="text-base mt-4">
            <b>Longitude : </b>5.59209°
          </p>
          <p class="text-base mt-4">
            <b>Date de début des opérations : </b>1er Janvier 2021
          </p>
          <p class="text-base mt-4">
            <b>Date de mise à jour : </b>1er Janvier 2022
          </p>
          <p class="text-base mt-4">
            <b>Version du firmware : </b>1.2.6
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
