<div
  *ngIf="station"
  class="station"
>
  <div class="hero-station relative h-96 flex items-center justify-center">
    <div class="hero-station__background">
      <img class="absolute inset-0 object-cover w-full h-full opacity-75" [src]="heroBackground" alt="">
    </div>
    <div class="hero-station__background-overlay bg-black opacity-50 absolute inset-0 w-full h-full"></div>
    <div class="hero-station__content relative mt-12">
      <div class="grid-row">
        <div class="hero-stations__text-container text-center">
          <div class="flex flex-col items-center">
            <h1 class="text-white pb-4">Station n°{{ station.$id }}</h1>
            <p class="text-white">
              Station de {{ station.city }} - Installé le {{ station.installationDate }}
            </p>
            <a
              href="#"
              routerLink="/stations"
              class="btn btn--M btn--ghost-white cursor-pointer mt-12"
            >
              Retour aux stations
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="station-content">
    <div
      class="flex flex-col md:flex-row w-full h-full justify-center p-8 md:p-14 rounded-lg overflow-hidden">
      <div class="map overflow-hidden rounded-lg">
        <div class="gmap">
          <iframe
            width="600"
            height="500"
            [src]="showStationCity(station.latitude, station.longitude)"
          >
          </iframe>
        </div>
      </div>
      <div>
        <div
          class="flex flex-col h-full justify-center px-6 py-4"
        >
          <h2 class="font-bold text-3xl mb-2">{{ station.name }}</h2>
          <p class="text-base mt-4">
            <b>Identifiant : </b>{{ station.id }}
          </p>
          <p class="text-base mt-4">
            <b>Ville : </b>{{ station.city }}
          </p>
          <p class="text-base mt-4">
            <b>Status : </b>{{ station.isActive ? "En activité" : "Non active" }}
          </p>
          <p class="text-base mt-4">
            <b>Latitude : </b>{{ station.latitude }}
          </p>
          <p class="text-base mt-4">
            <b>Longitude : </b>{{ station.longitude }}
          </p>
          <p class="text-base mt-4">
            <b>Date de début des opérations : </b>1er Janvier 2021
          </p>
          <p class="text-base mt-4">
            <b>Date de mise à jour : </b>1er Janvier 2022
          </p>
          <p class="text-base mt-4">
            <b>Version du firmware : </b>{{ station.firmwareVersion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
